.login {
  width: 300px;
  padding: 10px 0;
  border: 5px solid black;
  background-color: rgb(60, 151, 248);
  border-radius: 15px;
  /* font-size: 30px; */
}

.login:hover {
  border: rgb(60, 151, 248) 5px solid;
  background-color: white;
  transition: all 0.5s;
}

.delAcc {
  background-color: red;
}

.loginBtn,
.signinBtn {
  width: 100%;
  border: none;
  background-color: #dbdbdb;
  text-align: center;
  padding: 1vw;
  box-sizing: border-box;
  border-radius: 15px;
}

.mailTriggerBtn {
  display: block;
  font-family: "LINESeedKR-Bd";
  border-radius: 15px;
  padding: 10px 5px;
  font-size: 15px;
  border: none;
  background-image: linear-gradient(
    to right,
    rgb(0, 89, 255),
    rgb(114, 141, 192)
  );
  color: white;
}

.modalMainCloseBtn {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  animation-delay: 0s;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
